.game-over{
    .play{
        background-color: white;
        color: #8a2be2;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        display: flex;
        width: max-content;
        padding: 2rem;
        border-radius: 2vh;
        box-shadow: 0 2px 20px #9a38f5;

    }
    position: absolute;
    width: 90vw;
    height: 81vh;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0;
    .material-symbols-outlined{
        font-size: 4rem;
    }
}

