.points{
    position: absolute;
    background-color: white;
    right: 10vw;
    top: 5vh;
    padding-left: 2vh;
    padding-right: 2vh;
    border-radius: 2vh;
    color: #8a2be2;
    box-shadow: 0 2px 20px #9a38f5;

}