<app-header></app-header>
<p-toast></p-toast>
@if(!chakLandsapeMode()){
<app-landscape></app-landscape>

}@else{
<div class="main-container" #fullscreenDiv>
    <div class="game">
        <div class="game-canvas">

            @if(gameSelect()!=undefined){
            <app-menu (fullScreen)="toggleFullscreen()" (resetGame)="gameSelect.set(0)"></app-menu>
            }

            @switch (gameSelect()) {
            @case (undefined) {
            <app-ble-selector (Start)="gameSelect.set(0)"></app-ble-selector>
            }
            @case (0) {
                <div class="gamelist-header"><h2>Select Game</h2></div>
                <div class="gamelist">
                    @for (item of games; track $index) {
                    <div class="game-v" [style.backgroundImage]="'url(' + item.logo + ')'"
                    (click)="play($index+1)"
                    >
                        
                    </div>
                    }
                </div>
            }
            @case (1) {
            <app-flappy></app-flappy>
            }
            }
        </div>

    </div>


</div>
}
<app-footer></app-footer>