
h1{
    padding: 0;
    margin: 0;
}

.game{
    border-radius: 2vh;
    margin-left: 5vw;
    width: 90vw;
    padding: 1vh;
    height: max-content;
    box-shadow: 1vh 1vh 3vh #b96eff;
    color: white;
    background: linear-gradient(135deg, 
    #2f00ff,  /* Base Blue Violet */
    #ff0000,  /* Slightly Darker */
    #6900C0,  /* Deep Purple */
    #ff0000,  /* Slightly Darker */
    #2f00ff,  /* Base Blue Violet */
);
background-size: 500% 500%;
animation: gradientAnimation 8s ease-in-out infinite alternate;
}

@keyframes gradientAnimation {
    0% { background-position: 0% 0%; filter: brightness(1.1); }
    50% { background-position: 100% 100%; filter: brightness(0.9); }
    100% { background-position: 0% 0%; filter: brightness(1.1); }
}





.game-select-title{
    background-color: white;
    color: #8a2be2;
    padding: 2vh;
    width: 100%;
    border-radius: 2vh;
    height: fit-content;
}


.game-canvas{
    width: -webkit-fill-available;
    height: 80vh;
    border-radius: 2vh;
    border-width: 0.5vh;
    border-style: solid;
    border-color: #000000;
    background-color: #000000b9;
    }
    
.game-select-title{
    margin-left: 15vw;
    position: sticky;
    margin-top: 3vh;
    width: 70vw;
    margin-bottom: 2vh;
    z-index: 100;
}

.game-select-list{
    padding-top: 2vh;
    gap: 6vh;
    justify-content: space-evenly;
    height: 54vh ;
    overflow-y: scroll;
    display: flex;
    flex-wrap: wrap;
    -ms-overflow-style: none;  
    scrollbar-width: none;  
}