
.main-menu{
    margin-left: 0 !important;
    padding: 2vw;
    position: absolute;
    display: flex;
    flex-direction: column;
    height: 79.5vh;
    top: 1vh;
    overflow-y: scroll;
    gap: 3vh;
    -ms-overflow-style: none;  
    scrollbar-width: none; 
    z-index: 200; 
}

h3{
    padding: 0;
    margin: 0;
}


.play-again{
   position: absolute;
   display: flex;
   z-index: 400;
width: 100%;
   top: 60%;
   justify-content: center;
   align-items: center;
}



.play{
    box-shadow: 0 2px 20px #9a38f5;
    color: #8a2be2;
    background-color: white;
    padding: 2vh;
}

.play-logo-open{
    border-top-left-radius: 2vh;
    border-bottom-left-radius: 2vh;
  
}

.play-logo-close{
    flex-direction: row ;
    border-radius : 2vh;
}


.form{
    background-color: #8a2be2;
    left: 11vh;
    color: white;
    display: flex;
    flex-direction: column;
    padding-left: 2vw;
    padding: 1vh;
    padding-right: 2vw;
    align-content: center;
    align-items: center;
    border-top-right-radius: 2vh;
    border-bottom-right-radius: 2vh;
    margin-right: 2vh;
    width: auto;
    box-shadow: 0 2px 20px #9a38f5;
    z-index: 100;
    h3{
        height: 100%;
        align-content: center;
    }
    gap: 1vh;
}

.play-form-open{
    
    animation: openAnimation 0.5s forwards;
}

.play-form-close{
    display: none !important;
}



@keyframes openAnimation {
    0% {
        opacity: 0;
        transform: translateX(-20px);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

.show_close{
    display: none;
    
}
.show{
    display: flex !important;
    flex-direction: row;
    animation: openAnimation 0.5s forwards;
}

.pause{
    color: white;
    width: 90vw;
    height: 81vh;
    position: absolute;
    background-color: #00000081;
    z-index: 150;
    justify-content: center;
    display: flex;
    border-radius: 2vh;
}
