@if(openMenu()){
    <div class="pause">

    </div>
}
<div class="main-menu">
    <div class="show">
        <div  class="play play-logo-close" >
            @if(openMenu()){
                <span class="material-symbols-outlined" (click)="openMenu.set(false);click();  onPouse(false)">
                    play_arrow
                </span>
            }@else {
                <span class="material-symbols-outlined" (click)="openMenu.set(true);click(); onPouse(true)">
                    pause
                </span>
            }
        </div>
      
    </div>


    <div class="show_close" [class.show]="openMenu()">
        <div  class="play play-logo-close" >
            <span class="material-symbols-outlined" (click)="fullScreen.emit(true);click()">
                fullscreen
            </span>
        </div>
      
    </div>

    <div class=" show_close" [class.show]="openMenu()">
        <div  class="play play-logo-close" >
            <span class="material-symbols-outlined" (click)="resetGame.emit(true);click()">
                undo
            </span>
        </div>
    </div>


    <div class=" show_close" [class.show]="openMenu()">
        <div class="play" [class.play-logo-open]="openAudio()" [class.play-logo-close]="!openAudio()">
            <span class="material-symbols-outlined" (click)=" openAudio.set(!openAudio()) ;click()">
                volume_up
                </span>
        </div>
        <div class="form" [class.play-form-open]="openAudio()" [class.play-form-close]="!openAudio()">
            <h3>Effect {{audio()!.volumeA}}</h3><input type="range" id="AUDIO" min="0" max="10" [value]="audio()!.volumeA" (change)="onAudioEffectChange($event)"> 
            <h3>Song {{audio()!.volumeS}}</h3><input type="range" id="AUDIO" min="0" max="10" [value]="audio()!.volumeS" (change)="onAudioSongChange($event)"> 

        </div>
    </div>

    <div class=" show_close" [class.show]="openMenu()">
        <div class="play" [class.play-logo-open]="openPLayer()" [class.play-logo-close]="!openPLayer()">
            <span class="material-symbols-outlined" (click)="openPLayer.set(!openPLayer()) ;click()" >
                person
            </span>
        </div>
        <div class="form" [class.play-form-open]="openPLayer()" [class.play-form-close]="!openPLayer()">
            <h3>{{username()}}</h3>
        </div>
    </div>
    <div class=" show_close" [class.show]="openMenu()">
        <div class="play" [class.play-logo-open]="openDiff()" [class.play-logo-close]="!openDiff()">
            <span class="material-symbols-outlined" (click)="openDiff.set(!openDiff()) ;click()">
                settings
                </span>
        </div>
        <div class="form" [class.play-form-open]="openDiff()" [class.play-form-close]="!openDiff()">
            <h3>Difficulty {{difficulty()}}</h3><input type="range" id="difficulty" min="0.1" max="2.5" [value]="difficulty()!" step="1" (change)="onDifficultyChange($event)"> 
            <h3>Sensibility {{sensibility()}}</h3><input type="range" id="difficulty" min="0.1" max="10.0" [value]="sensibility()!" step="0.1" (change)="onSensChange($event)"> 

        </div>
    </div>
    <div class=" show_close" [class.show]="openMenu()">
        <div class="play" [class.play-logo-open]="openBle()" [class.play-logo-close]="!openBle()">
            <span class="material-symbols-outlined" (click)="openBle.set(!openBle()) ;click()">
                    bluetooth
                </span>
        </div>
        <div class="form" [class.play-form-open]="openBle()" [class.play-form-close]="!openBle()">
            <h3>Status {{pression()}}</h3>
        </div>
    </div>
</div>
