.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 2rem;
    background-color: #8A2BE2;
    color: white;
    box-shadow: 0 2px 20px #9a38f5;
  }
  
  .logo {
    max-height: 50px;
  }
  
  .home {
    display: flex;
    align-items: center;
    gap: 0;
  }

  
  .home-text {
    margin: 0;
    font-size: 2rem;
  }
