@import url(../styles.scss);
.error-container{
    position: absolute;
    width: 100%;
    display: flex;
    justify-content: space-around;
    top: 2vh;
    align-self: center;
    display: flex;
    flex-direction: column;
    gap: 2vh;
    z-index: 400;
}

.error-msg{
    align-self: center;
    border-radius: 2vh;
    background-color: red;
    color: white;
    padding: 1vh;
    font-size: large;
}