

.open-container, .close-container {
    box-shadow: 1vh 1vh 3vh #b96eff;
    padding: 4vh;
    font-size: large;
    justify-self: center;
    display: flex;
    flex-direction: column;
    gap: 3vh;
    width: max-content;
    justify-content: space-around;

}   




.open-container {
    background-color: #8a2be2;
    color: white;
    border-top-right-radius: 2vh;
    border-bottom-right-radius:2vh;
    min-width: 30vw;
}

.close-container {
    background-color: white;
    color: #8a2be2;
    border-top-left-radius: 2vh;
    border-bottom-left-radius:2vh;
}

