<div class="main-login-container">
    <div class="all-container" [class.play-logo-open]="playOpen()" [class.play-logo-close]="!playOpen()">
        <span class="material-symbols-outlined" (click)="playOpen.set(!playOpen())">
            sports_esports
            </span>
        @if(!playOpen()){
        <h2>Tap to play</h2>
        }
    </div>
    <div class="all-container" [class.form-container-open]="playOpen()" [class.form-container-close]="!playOpen()">
                <h2>Play</h2>
        <form [formGroup]="playForm">
            <div class="input-container">
                <label for="code">Enter your code</label>
                <input type="text" id="code" formControlName="code" placeholder="Enter your code" />
                @if(playForm.get('code')?.invalid && playForm.get('code')?.touched){
                @if(playForm.get('code')?.hasError('required')){
                <small>code is required</small>
                }
                @if(playForm.get('code')?.hasError('minlength')){
                <small>min lenght 6</small>
                }
                @if(playForm.get('code')?.hasError('maxlength')){
                    <small>max lenght 6</small>
                }
                }
            </div>
            <div class="input-container">
                <label for="username">Enter your username</label>
                <input type="text" id="usernamPlay" formControlName="username" placeholder="Enter your username" />
                @if(playForm.get('username')?.invalid && playForm.get('username')?.touched){
                @if(playForm.get('username')?.hasError('required')){
                <small>username is required</small>
                }
                @if(playForm.get('username')?.hasError('minlength')){
                <small>min lenght 3</small>
                }
                @if(playForm.get('username')?.hasError('maxlength')){
                    <small>max lenght 20</small>
                }
                }
            </div>
            @if(!loading()){
                <button  [disabled]="playForm.invalid" (click)="play()">Play</button>
            }@else {
                <div class="spinner"></div>
            }
        </form>
    </div>
</div>


