<div class="main-login-container">

       <!-- Switch play-->
       @if(!playOpen()){
       <div class="icon-container left right play">
        <span class="material-symbols-outlined icon-button" (click)="playOpen.set(true)" >stadia_controller</span>
      </div>
    }@else{
      <div class="icon-container left">
      <span class="material-symbols-outlined icon-button" (click)="playOpen.set(false)" >stadia_controller</span>
      </div>
    }
   <p-card class="form-card right" header="Play"
   [class.main-login-open]="playOpen()"
    [class.main-login-close]="!playOpen() "   
   >
        <form [formGroup]="playForm" (ngSubmit)="play()">
            <!-- Username -->
            <p-inputgroup>
                <p-inputgroup-addon>
                    <span class="material-symbols-outlined icon">
                        person
                      </span>
                </p-inputgroup-addon>
                <p-floatlabel variant="on">
                    <input id="username3" type="username" pInputText formControlName="username" 
                    />
                    <label for="username3">Username</label>
                </p-floatlabel>
                </p-inputgroup>
            @let playuser = playForm.controls.username;
            @if (playuser.touched && playuser.invalid) {
              @if (playuser.hasError('required')) {
                <p-message severity="error" text="Username is required"></p-message>
              }
              @if (playuser.hasError('minlength')) {
                <p-message severity="warn" text="Min 3 characters"></p-message>
              }
              @if (playuser.hasError('maxlength')) {
                <p-message severity="warn" text="Max 20 characters"></p-message>
              }
            }
  
            <!-- code -->
            <p-inputgroup>
                <p-inputgroup-addon>
                    <span class="material-symbols-outlined icon">
                        vpn_key
                        </span>
                </p-inputgroup-addon>
                <p-floatlabel variant="on">
                    <input pInputText inputId="code" formControlName="code"  
                    />
                    <label for="code">code</label>
                </p-floatlabel>
            </p-inputgroup>
            @let playcode = playForm.controls.code;
            @if (playcode.touched && playcode.invalid) {
              @if (playcode.hasError('required')) {
                <p-message severity="error" text="Code is required"></p-message>
              }
              @if (playcode.hasError('minlength')) {
                <p-message severity="warn" text="Min 6 characters"></p-message>
              }
              @if (playcode.hasError('maxlength')) {
                <p-message severity="warn" text="Max 6 characters"></p-message>
              }
            }
  
            <!-- Submit -->
            <div class="p-mt-4">
              @if (!loading()) {
                <button pButton type="submit" label="Play" [disabled]="playForm.invalid"></button>
              } @else {
                <p-progressSpinner strokeWidth="4" styleClass="p-ml-2" />
              }
            </div>
  
        </form>
      </p-card>


</div>


