

<div class="main-ble-container">
    <div class="open-container">
                <h2>Connect</h2>
        <form [formGroup]="bleForm">
  
            <div class="input-container">
                @if(!loading()){
                    <button (click)="connect()">Connect to a device</button>
                    }@else {
                    <div class="spinner"></div>
                    }
                @if(bleForm.get('connected')?.invalid && bleForm.get('connected')?.value != undefined){
                <small>non connesso</small>
                }
            </div>
                <button  [disabled]="bleForm.invalid" (click)="start()">Play</button>
        </form>
    </div>
</div>


