.username{
    display: flex;
    box-shadow: 1vh 1vh 3vh #b96eff;
    background-color: #8a2be2;
    color: white;
    width: fit-content;
    padding: 2vh;
    border-radius: 2vh;
    align-items: center;
    gap: 2vw;
}

.main-menu-container{
    margin-top: 2vh;
    gap: 4vh;
    display: flex;
    flex-direction: column;
    margin: 2vh;
}

.styled-table {
    width: 100%;
    border-collapse: collapse;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #f9f9f9;
}

.styled-table td {
    padding: 10px 20px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

.styled-table tr:hover {
    background-color: #eaeaea;
}
