<div class="main-menu-container">
    <div class="username">
        <div class="welcome">
            <h1>Welcome {{ username().username }}</h1>
        </div>
        <div class="generate-code">
            <button (click)="generateCode()">Generate Code</button>
            <div class="code" [class.openCode]="showCode()" [class.closeCode]="!showCode()">
               {{ showCode()}}
            </div>
        </div>
    </div>

    <div class="stats">
        <table>
            <tr>
                <td>Stats Placeholder</td>
            </tr>
        </table>
    </div>
</div>
