<app-header ></app-header>
<p-toast></p-toast>
<div class="main-menu-container">
    <div class="username">
        <div class="welcome">
            <h1>Welcome {{ username() }}</h1>
        </div>
        <div class="generate-code">
            <button (click)="generateCode()">Generate Code</button>
            <div class="code" [class.openCode]="showCode()" [class.closeCode]="!showCode()">
               {{ showCode()}}
            </div>
        </div>
    </div>
    
    <div class="search"><input type="text"></div>

</div>
<app-footer></app-footer>